* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei", "Lucida Sans Unicode", "Myriad Pro", "Hiragino Sans GB", "Heiti SC";
	max-height: 999999px;
}

html * {
	outline: none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/*-webkit-tap-highlight-color: transparent;*/
}

ul li {
	list-style: none;
}

span {
	display: inline-block;
}

em {
	font-style: normal;
}

i {
	font-style: normal;
	display: inline-block;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

:focus {
	outline: 0
}

button,
input,
select,
textarea {
	/*font-size: 100%;*/
	/*vertical-align: middle;*/
	outline: 0
}

input:focus:-moz-placeholder,
input:focus::-webkit-input-placeholder {
	color: transparent
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0
}

input,
button,
textarea {
	-webkit-appearance: none;
}

button,
input {
	border: 0;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

textarea {
	resize: none
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"],
input[type="password"],
{
	-webkit-appearance: none;
}

textarea {
	-webkit-appearance: none;
}


/*字体大小 start*/

.font_16 {
	font-size: 0.4rem;
}

.font_18 {
	font-size: 0.45rem;
}

.font_20 {
	font-size: 0.5rem;
}

.font_22 {
	font-size: 0.55rem;
}

.font_24 {
	font-size: 0.6rem;
}

.font_26 {
	font-size: 0.65rem;
}

.font_28 {
	font-size: 0.7rem;
}

.font_30 {
	font-size: 0.75rem;
}

.font_32 {
	font-size: 0.8rem;
}

.font_36 {
	font-size: 0.9rem;
}

.font_40 {
	font-size: 1rem;
}

.font_48 {
	font-size: 1.2rem;
}

.font_50 {
	font-size: 1.25rem;
}

.font_60 {
	font-size: 1.5rem;
}


/*字体大小 end*/


/*字体颜色 start*/

.color_000 {
	color: #000;
}

.color_333 {
	color: #333;
}

.color_666 {
	color: #666;
}

.color_999 {
	color: #999;
}

.color_fff {
	color: #fff;
}

.color_f44975 {
	color: #f44975;
}

.color_1c7ebe {
	color: #1c7ebe;
}

.bgColor_fff {
	background-color: #fff;
}

.bgColor_f44975 {
	background-color: #f44975;
}

.relative {
	position: relative;
}

.margin_center {
	margin: 0 auto;
}

.content_center {
	justify-content: center;
}

.content_left {
	justify-content: flex-start;
}

.content_right {
	justify-content: flex-end;
}

.vertical_center {
	display: flex;
	display: -webkit-flex;
	align-items: center;
}

.all_center {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}

.flex-parent {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.flex-child {
	-webkit-flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 0%;
	position: relative;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.pointer {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.overflow {
	overflow: hidden;
}

.inline_block {
	display: inline-block;
}

._block {
	display: block;
}

.none {
	display: none;
}

.text_center {
	text-align: center;
}

.text_indent {
	text-indent: 2em;
}

.line_height {
	line-height: 0.6rem;
}

.letter_space {
	letter-spacing: 0.025rem;
}

.under_line {
	height: 1px;
	background-color: #f5f5f5;
}

.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}

.clearfloat {
	zoom: 1
}

.clear {
	clear: both;
}

.white_space {
	white-space: nowrap;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #999;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #999;
}

.rootNode {
	min-height: 100vh;
	background-color: #d12e5d;
	background-image: linear-gradient(to top, #d12e5d 0%, #cf2e50 100%);
	background-image: -webkit-linear-gradient(to top, #d12e5d 0%, #cf2e50 100%);
}

header {
	width: 100%;
	height: 16.325rem;
	background: #fff url(https://images-web.newnewbank.com/loading.gif) no-repeat center;
	z-index: 1;
}

header .headImg {
	width: 100%;
	height: 100%;
	background: url(https://images-wap.newnewbank.com/wap-head20180103.png) no-repeat;
	background-size: cover;
}

header .headImg .login-box {
	width: 14.25rem;
	height: 5.4rem;
	position: absolute;
	bottom: .7rem;
	left: .8rem;
}

.color_ffc115 {
	color: #ffc115;
}

.color_ba3414 {
	color: #ba3414;
}

.line-height-30 {
	line-height: 0.75rem;
}

.line-height-36 {
	line-height: 0.9rem;
}

.padding-top-10 {
	padding-top: 0.25rem;
}

.padding-top-20 {
	padding-top: 0.5rem;
}

.padding-bottom-44 {
	padding-bottom: 1.1rem;
}

.padding-bottom-50 {
	padding-bottom: 1.25rem;
}

.mar-right-24 {
	margin-right: 0.6rem;
}

.twoPage {
	margin-top: 0.6rem;
	z-index: 1;
}

.goInvest,
.getRecord {
	width: 5.5rem;
	height: 1.6rem;
	border-radius: 0.75rem;
	color: #ba3414;
}

.goInvest {
	background: #ffc115;
	box-shadow: 0px 0.2rem 0px #dd6d00;
	margin-right: 1.5rem;
}

.getRecord {
	background: #f4f4f4;
	box-shadow: 0px 0.2rem 0px #a6a6a6;
}

.text-impact {
	font-family: impact;
}

.ulBox {
	display: inline-block;
	margin-bottom: .8rem;
}

.ulBox li {
	float: left;
}

.ulBox li .redPacket {
	width: 7.35rem;
	height: 5.075rem;
	background: url(https://images-wap.newnewbank.com/wap-redPaket20180103.png) no-repeat;
	background-size: cover;
}

.getRed {
	width: 4.15rem;
	height: 1rem;
	border-radius: 0.5rem;
	color: #ffc115;
	border: 1px solid #ffc115;
	font-size: 0.55rem;
	margin-top: .5rem;
}

.font_80 {
	font-size: 2rem;
}

.line-height-60 {
	line-height: 1.5rem;
}

.rule {
	margin: 1rem 0.4rem;
	border-radius: 0.2rem;
}

.rule .box-pad {
	padding: 0.6rem 0.6rem .9rem;
}

.color_cf2b66 {
	color: #cf2b66;
}

.color_444 {
	color: #444;
}

.color_ffb833 {
	color: #ffb833;
}

.goInvest2 {
	width: 9.75rem;
	height: 1.9rem;
	border-radius: 0.95rem;
	color: #ba3414;
	background: #ffc115;
	box-shadow: 0px 0.2rem 0px #dd6d00;
	margin-bottom: 1.2rem;
}

footer {
	height: 1.1rem;
	background: url(https://images-wap.newnewbank.com/wap-foot20180103.png) no-repeat;
	background-size: cover;
}

.cover {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .8);
	z-index: 100;
}

.popupLoad {
	width: 100%;
	background: url(https://images-web.newnewbank.com/loading-f.gif) no-repeat center;
	position: fixed;
	top: 50%;
	margin-top: -7.2rem;
	z-index: 100;
}

.popopImg {
	width: 100%;
	height: 13rem;
	background: url(https://images-wap.newnewbank.com/wap-page20180103.png) no-repeat;
	background-size: cover;
}

.table {
	width: 86%;
	margin: 2rem auto 0;
	line-height: 1.4rem;
}

.mar-right-16 {
	margin-right: 0.4rem;
}

.page-num {
	position: absolute;
	width: 100%;
	bottom: -2rem;
	left: 0;
}

.page-num a {
	width: 4.1rem;
	height: 1.4rem;
	border-radius: 0.7rem;
	background: #f44975;
	color: #fff;
	font-size: 0.6rem;
}

.page-num a.not-pointer {
	background: #fff;
	color: #f44975;
}

.deleteBtn {
	width: 1.55rem;
	height: 1.55rem;
	background: url(https://images-wap.newnewbank.com/wap-delete10180103.png) no-repeat;
	background-size: cover;
	position: absolute;
	top: -1.8rem;
	right: 42%;
}

.popup {
	z-index: 1000;
	position: fixed;
	top: 30%;
	left: 10%;
	width: 80%;
	border-radius: 5px;
	border-top: 0.25rem solid #f44975;
	background: #f5f5f5;
}

.shadow {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #000000;
	opacity: .8;
	filter: alpha(opacity=80);
	z-index: 1000;
}

.popup-p {
	padding-top: 1.25rem;
	text-align: center;
	color: #f44975!important;
	font-size: 0.7rem!important;
}

.popup-btn {
	text-align: center;
	padding: .6rem 0;
	font-size: 0.6rem;
}

.popup-btn a {
	display: inline-block;
	text-align: center;
	padding: .3rem 0;
	color: #fff;
	width: 30%;
	border-radius: 5px;
	background: #f44975;
	margin: 0 0.3125rem;
}

.popup-btn a.popup-gay {
	background: #fff;
	border: 1px solid #dcdcdc;
	color: #666;
}

.star,
.star-right {
	position: absolute;
	bottom: 0;
	width: 1.5rem;
	height: 35rem;
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

.star {
	left: 0;
	background-image: linear-gradient(120deg, rgb(207, 46, 85) 0%, rgba(71, 38, 38, 0.2) 100%);
}

.star-right {
	right: 0;
	background-image: linear-gradient(120deg, rgb(207, 46, 85) 0%, rgba(71, 38, 38, 0.2) 100%);
}

.star-bottom {
	position: absolute;
	bottom: .7rem;
	left: 0;
	width: 100%;
	height: 1.2rem;
	-webkit-filter: blur(10px);
	filter: blur(10px);
	background-image: linear-gradient(to bottom, rgb(207, 46, 85) 0%, rgba(71, 38, 38, 0.2) 100%);
}