* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei", "Lucida Sans Unicode", "Myriad Pro", "Hiragino Sans GB", "Heiti SC";
	max-height: 999999px;
}

html * {
	outline: none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

ul li {
	list-style: none
}

span,
i {
	display: inline-block
}

em,
i {
	font-style: normal
}

a {
	text-decoration: none
}

a:hover {
	text-decoration: none
}

:focus {
	outline: 0
}

button,
input,
select,
textarea {
	outline: 0
}

input:focus:-moz-placeholder,
input:focus::-webkit-input-placeholder {
	color: transparent
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0
}

button,
input,
textarea {
	-webkit-appearance: none
}

button,
input {
	border: 0;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent
}

textarea {
	resize: none
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"],
input[type="password"],
{
	-webkit-appearance: none
}

textarea {
	-webkit-appearance: none
}
/*字体大小 start*/

.font_16 {
	font-size: 0.32rem;
}

.font_18 {
	font-size: 0.36rem;
}

.font_20 {
	font-size: 0.4rem;
}

.font_22 {
	font-size: 0.44rem;
}

.font_24 {
	font-size: 0.48rem;
}

.font_26 {
	font-size: 0.52rem;
}

.font_28 {
	font-size: 0.56rem;
}

.font_30 {
	font-size: 0.6rem;
}

.font_32 {
	font-size: 0.64rem;
}

.font_36 {
	font-size: 0.72rem;
}

.font_40 {
	font-size: 0.8rem;
}

.font_48 {
	font-size: 0.96rem;
}

.font_50 {
	font-size: 1rem;
}
/*字体大小 end*/

.font_bold {
	font-weight: bold;
}

.color_000 {
	color: #000
}

.color_333 {
	color: #333
}

.color_666 {
	color: #666
}

.color_999 {
	color: #999
}

.color_fff {
	color: #fff
}

.color_f44975 {
	color: #f44975
}

.bgColor_fff {
	background-color: #fff
}

.bgColor_f44975 {
	background-color: #f44975
}

.margin_center {
	margin-left: auto;
	margin-right: auto;
}

.vertical_center {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
}

.all_center {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}

.content_center {
	justify-content: center;
}

.content_left {
	justify-content: flex-start;
}

.content_right {
	justify-content: flex-end;
}

.flex_parent {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.flex_child {
	-webkit-flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 0;
	position: relative
}

.float_left {
	float: left
}

.float_right {
	float: right
}

.relative {
	position: relative
}

.overflow {
	overflow: hidden
}

.inline_block {
	display: inline-block
}

._block {
	display: block
}

.none {
	display: none
}

.text_center {
	text-align: center;
}

.text_left {
	text-align: left;
}

.text_right {
	text-align: right;
}

.text_indent {
	text-indent: 2em
}

.letter_space {
	letter-spacing: 0.025rem
}

.under_line {
	height: 1px;
	background-color: #f0f0f0;
}

.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}

.clearfloat {
	zoom: 1
}

.white_space {
	white-space: nowrap;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #999
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #999
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #999
}