@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?9epv0j');
	src: url('../fonts/icomoon.eot?9epv0j#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?9epv0j') format('truetype'), url('../fonts/icomoon.woff?9epv0j') format('woff'), url('../fonts/icomoon.svg?9epv0j#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei", "Lucida Sans Unicode", "Myriad Pro", "Hiragino Sans GB", "Heiti SC";
	max-height: 999999px;
}

html * {
	outline: none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/*-webkit-tap-highlight-color: transparent;*/
}

ul li {
	list-style: none;
}

span {
	display: inline-block;
}

em {
	font-style: normal;
}

i {
	font-style: normal;
	display: inline-block;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

:focus {
	outline: 0
}

button,
input,
select,
textarea {
	/*font-size: 100%;*/
	/*vertical-align: middle;*/
	outline: 0
}

input:focus:-moz-placeholder,
input:focus::-webkit-input-placeholder {
	color: transparent
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0
}

input,
button,
textarea {
	-webkit-appearance: none;
}

button,
input {
	border: 0;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

textarea {
	resize: none
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"],
input[type="password"],
{
	-webkit-appearance: none;
}

textarea {
	-webkit-appearance: none;
}


/*字体大小 start*/

.font_16 {
	font-size: 0.4rem;
}

.font_18 {
	font-size: 0.45rem;
}

.font_20 {
	font-size: 0.5rem;
}

.font_22 {
	font-size: 0.55rem;
}

.font_24 {
	font-size: 0.6rem;
}

.font_26 {
	font-size: 0.65rem;
}

.font_28 {
	font-size: 0.7rem;
}

.font_30 {
	font-size: 0.75rem;
}

.font_32 {
	font-size: 0.8rem;
}

.font_36 {
	font-size: 0.9rem;
}

.font_38 {
	font-size: 0.95rem;
}

.font_40 {
	font-size: 1rem;
}

.font_48 {
	font-size: 1.2rem;
}

.font_50 {
	font-size: 1.25rem;
}

.font_60 {
	font-size: 1.5rem;
}


/*字体大小 end*/


/*字体颜色 start*/

.color_000 {
	color: #000;
}

.color_333 {
	color: #333;
}

.color_666 {
	color: #666;
}

.color_999 {
	color: #999;
}

.color_fff {
	color: #fff;
}

.color_f44975 {
	color: #f44975;
}

.color_1c7ebe {
	color: #1c7ebe;
}

.bgColor_fff {
	background-color: #fff;
}

.bgColor_f44975 {
	background-color: #f44975;
}

.relative {
	position: relative;
}

.margin_center {
	margin: 0 auto;
}

.content_center {
	justify-content: center;
}

.content_left {
	justify-content: flex-start;
}

.content_right {
	justify-content: flex-end;
}

.vertical_center {
	display: flex;
	display: -webkit-flex;
	align-items: center;
}

.all_center {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}

.flex-parent {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.flex-child {
	-webkit-flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 0%;
	position: relative;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.pointer {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.overflow {
	overflow: hidden;
}

.inline_block {
	display: inline-block;
}

._block {
	display: block;
}

.none {
	display: none;
}

.text_center {
	text-align: center;
}

.text_indent {
	text-indent: 2em;
}

.line_height {
	line-height: 0.6rem;
}

.letter_space {
	letter-spacing: 0.025rem;
}

.under_line {
	height: 1px;
	background-color: #d2d2d2;
}

.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}

.clearfloat {
	zoom: 1
}

.clear {
	clear: both;
}

.white_space {
	white-space: nowrap;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #999;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #999;
}


/*175 start*/

.icon-star {
	margin-right: 0.4rem;
}

.icon-star:before {
	content: "\e900";
}

.rootNode {
	min-height: 100vh;
}

.bgColor_baf5ea {
	background-color: #baf5ea;
}

.bgColor_824118 {
	background-color: #824118;
}

.bgColor_eee {
	background-color: #eee;
}

.color_de4c13 {
	color: #de4c13;
}

.color_da251d {
	color: #da251d;
}

.color_486a83 {
	color: #486a83;
}

.color_73ccd5 {
	color: #73ccd5;
}

.color_ff8800 {
	color: #ff8800;
}

.color_6daed6 {
	color: #6daed6;
}

.color_2d83dd {
	color: #2d83dd;
}

.color_14469f {
	color: #14469f;
}

.color_824118 {
	color: #824118;
}

.color_ff8800 {
	color: #ff8800;
}

.color_303b98 {
	color: #303b98;
}

.color_30695e {
	color: #30695e;
}

.color_ccb962 {
	color: #ccb962;
}

.color_e60012 {
	color: #e60012;
}

.color_fdac1f {
	color: #fdac1f;
}

.color_13acd2 {
	color: #13acd2;
}

.color_0fa51e {
	color: #0fa51e;
}

.padding-right-96 {
	padding-right: 2.4rem;
}

.padding-left-20 {
	padding-left: 0.5rem!important;
}

.padding-top-30 {
	padding-top: 0.75rem;
}

.padding-top-240 {
	padding-top: 6rem;
}

.padding-top-40 {
	padding-top: 1rem;
}

.padding-bottom-20 {
	padding-bottom: 0.5rem;
}

.padding-bottom-30 {
	padding-bottom: 0.75rem;
}

.padding-bottom-80 {
	padding-bottom: 2rem;
}

.padding-left-40 {
	padding-left: 1rem;
}

.padding-side-30 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.padding-top-60 {
	padding-top: 1.5rem;
}

.padding-bottom-10 {
	padding-bottom: 0.25rem;
}

.padding-top-36 {
	padding-top: 0.9rem;
}

.padding-bottom-40 {
	padding-bottom: 1rem;
}

.padding-side-80 {
	padding-left: 2rem;
	padding-right: 2rem;
}

.padding-top-20 {
	padding-top: 0.5rem;
}

.padding-right-10 {
	padding-right: 0.25rem;
}

.padding-30 {
	padding: 0.75rem;
}

.padding-top-140 {
	padding-top: 3.5rem;
}

.padding-top-160 {
	padding-top: 4rem;
}

.padding-top-190 {
	padding-top: 4.75rem;
}

.padding-top-200 {
	padding-top: 5rem;
}

.mar-top-10 {
	margin-top: 0.25rem;
}

.mar-top-20 {
	margin-top: 0.5rem;
}

.mar-bottom-24 {
	margin-bottom: 0.6rem;
}

.mar-top-40 {
	margin-top: 1rem;
}

.mar-left-40 {
	margin-left: 1rem;
}

.mar-left-100 {
	margin-left: 2.5rem;
}

.mar-top-bottom-20 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.mar-side-10 {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

.mar-side-20 {
	margin-left: .5rem;
	margin-right: .5rem;
}

.mar-side-30 {
	margin-left: .75rem;
	margin-right: .75rem;
}

.mar-left-30 {
	margin-left: 0.75rem;
}

.mar-top-32 {
	margin-top: 0.8rem;
}

.mar-bottom-30 {
	margin-bottom: 0.75rem;
}

.mar-left-56 {
	margin-left: 1.4rem;
}

.mar-left-136 {
	margin-left: 3.4rem;
}

.text_right {
	text-align: right;
}

.w-130 {
	width: 3.25rem;
}

.w-20-pre {
	width: 20%;
}

.w-30-pre {
	width: 30%;
}

.w-40-pre {
	width: 40%;
}

.light {
	font-weight: lighter;
}

.text-indent {
	text-indent: 2em;
}

.h-90 {
	height: 2.25rem;
}

.line-height-24 {
	line-height: 0.6rem;
}

.line-height-32 {
	line-height: 0.8rem;
}

.line-height-36 {
	line-height: .9rem;
}

.ulFloat li {
	float: left;
}

header {
	width: 100%;
	height: 9.5rem;
}

.paradise-175 header {
	background: url(https://images-wap.newnewbank.com/wap-headBanner-175-20180428_01.png) no-repeat;
	background-size: cover;
}

.one-page-item {
	border-radius: 0.25rem;
	margin-top: -1.5rem;
	box-shadow: 0 .4rem 1rem #c4c4c4;
	padding-bottom: 0.65rem;
}

table {
	width: 100%;
	border: 1px solid #e4e4e4;
}

table tr td {
	border-bottom: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
}

.one-page-item table tr td {
	padding: 0.75rem;
}

table tr td:last-child {
	border-right: 0px solid #e4e4e4!important;
}

table tr:last-child td {
	border-bottom: 0px solid #e4e4e4!important;
}

table.shareInfo tr td {
	padding: .4rem 0;
}

.one-page-item table tr td:first-child {
	width: 25%;
	text-align: center;
}

table.shareInfo tr td:first-child {
	width: 26%;
	text-align: center;
}

.expand-btn,
.shrink-btn {
	padding: .7rem 1rem;
}

.shrink-btn:before,
.expand-btn:before {
	content: '';
	width: 0.45rem;
	height: 0.05rem;
	background-color: #999;
	position: absolute;
	right: .3rem;
	top: 1rem;
}

.expand-btn:after {
	content: '';
	height: 0.45rem;
	width: 0.05rem;
	background-color: #999;
	position: absolute;
	right: .5rem;
	top: .8rem;
}

.arrow-up {
	width: 0.825rem;
	height: 0.65rem;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAaCAMAAAAOh8UzAAAAe1BMVEUAAACZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZlOY8pPAAAAKXRSTlMAC/758ActIhkR6N/02tTIwq2mgj00z7VtTOzklVpFJx4VvJphVY55oiZtEdwAAAD5SURBVCjPfVPpGoIgEERQTMUUzYNK7dDq/Z8wq80FPOaHuMs4H+MOxMJT5GQTOZX0vkV40JoMTHqrhDPtx2crbs4K4U6b71ock2Bp38vYAK/8tN8tECRTU+HHUTcjVKLVyl0ZFibBubkHoxGkZsOBWm9VTGkfJMcC+jL7O/VerP8TrmXIJy03CbT/B6fanzrU4iE6fdLvkC5x5OtafjTWgJqeP434glq/dSQCGpaRPgVR1AoSdNZiGEALnApFbHS/UeCMGovAw/JqBaHGYnneOc11gptiZgyngINrhgqdemBIVMupU7Ch5slF8XQ83gBaCNtivHk9fMnf4HwN5be+lRsAAAAASUVORK5CYII=) no-repeat;
	background-size: cover;
}

.content-item {
	display: none;
}

.active {
	display: block;
}


/*175 end*/

.warm header {
	background: url(https://images-wap.newnewbank.com/wap-headBanner-warm-20180502.png) no-repeat;
	background-size: cover;
}

.border-radius {
	border-radius: 1.5rem;
	padding: 0.25rem 0.75rem;
}

.border-blue {
	border: 1px solid #14469f;
}

.rec-rotate:before {
	content: '';
	width: .25rem;
	height: .25rem;
	transform: rotate(45deg);
	position: absolute;
	top: .3rem;
	left: .4rem;
}

.warm .rec-rotate:before {
	background-color: #14469f;
}

.warm .picture-1 {
	width: 13.1rem;
	height: 8.925rem;
	background: url(https://images-wap.newnewbank.com/wap-picture-01-20180502.jpg) no-repeat;
	background-size: cover;
}

.warm .picture-2 {
	width: 13.1rem;
	height: 8.975rem;
	background: url(https://images-wap.newnewbank.com/wap-picture-02-20180502.jpg) no-repeat;
	background-size: cover;
}


/*warm+ end*/

.bangde header {
	background: url(https://images-wap.newnewbank.com/wap-headBanner-bangde-20180502.png) no-repeat;
	background-size: cover;
}

.border-green {
	border: 1px solid #73ccd5;
}

.bangde .rec-rotate:before {
	background-color: #73ccd5;
}

.picture-3 {
	width: 11.775rem;
	height: 3.35rem;
	background: url(https://images-wap.newnewbank.com/wap-picture-03-20180502.jpg) no-repeat;
	background-size: cover;
}

.picture-4 {
	width: 11.825rem;
	height: 5.175rem;
	background: url(https://images-wap.newnewbank.com/wap-picture-04-20180502.jpg) no-repeat;
	background-size: cover;
}


/*bangde end*/

.cailan header {
	background: url(https://images-wap.newnewbank.com/wap-headBanner-cailan-20180502.png) no-repeat;
	background-size: cover;
}

.cailan .rec-rotate:before {
	background-color: #824118;
}

.cailan .picture-img-1,
.cailan .picture-img-2 {
	width: 11.175rem;
	height: 3.825rem;
}

.cailan .picture-img-1 {
	background: url(https://images-wap.newnewbank.com/wap-picture-cailan01-20180503.jpg) no-repeat;
	background-size: cover;
}

.cailan .picture-img-2 {
	background: url(https://images-wap.newnewbank.com/wap-picture-cailan02-20180503.jpg) no-repeat;
	background-size: cover;
}

.circle-bef:before {
	content: '';
	width: 0.25rem;
	height: 0.25rem;
	border-radius: 50%;
	position: absolute;
	top: .2rem;
	left: .3rem;
}

.cailan .circle-bef:before {
	background-color: #824118;
}

.cailan .flow-chart {
	width: 14.225rem;
	height: 5.4rem;
	background: url(https://images-wap.newnewbank.com/wap-flowChart20180503.jpg) no-repeat;
	background-size: cover;
}

.proporte-img {
	width: 11.825rem;
	height: 6.3rem;
	background: url(https://images-wap.newnewbank.com/wap-proportion20180503.png) no-repeat;
	background-size: cover;
}

.progress-bar {
	width: 5.25rem;
	height: 0.3rem;
	background-color: #f29b65;
	border-radius: .15rem;
	margin: .2rem;
}

.process-img {
	width: 9.15rem;
	height: 7.3rem;
	background: url(https://images-wap.newnewbank.com/wap-process20180503.jpg) no-repeat;
	background-size: cover;
}


/*cailan end*/

.danbei header {
	background: url(https://images-wap.newnewbank.com/wap-headBanner-danbei-20180502.png) no-repeat;
	background-size: cover;
}

.yellow-circle-bef:before {
	content: '';
	width: 0.45rem;
	height: 0.45rem;
	border-radius: 50%;
	position: absolute;
	top: .1rem;
	left: -.8rem;
}

.danbei .yellow-circle-bef:before {
	background-color: #ff8800;
}

.dot-line {
	position: absolute;
	top: 1rem;
	left: 1.4rem;
}

.danbei .dot-line {
	height: 20rem;
	border-right: 1px dashed #ddd;
}

.star-side:before,
.star-side:after {
	content: '';
	width: 1.325rem;
	height: 0.475rem;
	position: absolute;
	top: .2rem;
}

.danbei .star-side:before,
.danbei .star-side:after {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADUAAAATCAMAAAAHzbVpAAAAaVBMVEUAAAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iAD/iADBSI/BAAAAInRSTlMARKr8ZvcKBN+IKiH1HBnov5x4cWA+MdjPjIJqTqOTD7la5F6HuAAAAM9JREFUOMuN0W0XQjAYxvELQ3kqRBGp+/t/yGo72lx0jt+7HX+23bCtrY5alWK3uJRZcMdelVhB+69qvY8CszwTx3O7i850Fl8WPGx1nRhhDs2TpRuw7pJgflyaUVyFvIBVd7YXT8wo2CEGd4NY/nerk2h0M+oe7kcBFLKmAOpq2isKZKUBqIvsicLUzp2HyJ36rXpnVrwVdXbShwhaSS+N0KjzQr3IGhhFJq6sgMZdelFKXXLMenHVMLhj08kdRYydhtD+mgS7pZ2vjfWELW8ak0BTA9N18AAAAABJRU5ErkJggg==) no-repeat;
	background-size: cover;
}

.zdshengwu .star-side:before,
.zdshengwu .star-side:after {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADUAAAATCAMAAAAHzbVpAAAAeFBMVEUAAAATrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNITrNKgNgcTAAAAJ3RSTlMA7qoQFaWgDvv06NPMh2tgW0sdBfLBsoF5PTMvCffi3dnElJF0NyLV3hMEAAAA9ElEQVQ4y43S25bCIAwF0GCh96vWOlqdUUfN//+hYBqNtA/st0MWbQLAosMFSTqsIdSY4dtvAoFKFHaw7CfPlFLlgXONUq95/R6vrB39vOVejlTUCr9cediU8taFKOfyjaoxfksfXt+dDVdkKnLFPfqM13exgTH9lCtXveDMw+u7gUpUz7aa4Fzjjkzkkne959Q419r1f5ELWJ8Q5ZhwRt9Je+Pe5EdW4iLm9zzI0wDdTyGbnlzhbfqjexyR7UHMWQPpvF0dEDPlmGJj7EMxLbAtSgMvH02ulMrjBBbdkXHfQeSbqiHUpur5JNwFh++LXhJY9gSzHUn7APSeOAAAAABJRU5ErkJggg==) no-repeat;
	background-size: cover;
}

.ziranhome .star-side:before,
.ziranhome .star-side:after {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADUAAAATCAMAAAAHzbVpAAAAbFBMVEUAAAA3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okI3okIZfsBZAAAAI3RSTlMA8WQ7FPz447aLhXhUIgrr2sK7T0UrGM6vqZaRe241BdCgl6lhRnwAAADPSURBVDjLjZJHFsMgDERl4957SU90/zsGbOIyYcHfSTPz0BMiM4XoukwinmSP67AmFNahjHfKwTJUhHzgQ2aSZZ5KbDUf8Xujz9VyWKxiHvCJWTXR55WsSVc1YuAhm+i7bKrjKbVlpCZCX+/vcqzUF7PhMfDFvFOpQfgflwh8CYxiSrWw2Pq0sY4kIyOlXBr6rlsxkaI1Doi+wdFFkNNCDaFxuWD0pbq60YqAlL4Z9N2jpolml35Mp9BbtdCHwNewM5AlMazCkjTU9z62Rv0LH/ZC5ISAAoYAAAAASUVORK5CYII=) no-repeat;
	background-size: cover;
}

.star-side:before {
	left: -1.6rem;
}

.star-side:after {
	right: -1.6rem;
}

.person-structure-img {
	width: 13.875rem;
	height: 6.35rem;
	background: url(https://images-wap.newnewbank.com/wap-personStructure20180503.png) no-repeat;
	background-size: cover;
}

.danbei .table-info table {
	border: 1px solid #ffdeb7;
	text-align: center;
	width: 100%;
	border-radius: 0.25rem;
}

.danbei .table-info table tr td {
	border-bottom: 1px solid #ffdeb7;
	border-right: 1px solid #ffdeb7;
	padding: 0.25rem 0;
}

.bgColor_ffdeb7 {
	background-color: #ffdeb7;
}

.danbei .table-info table tr td:last-child {
	border-right: 0;
}

.danbei table tr:last-child td {
	border-bottom: 0px solid #e4e4e4;
}

.partner {
	top: -.4rem;
}

.partner:before {
	content: '大股东';
	color: #fff;
	position: absolute;
	top: .9rem;
	right: -.3rem;
	width: 2.35rem;
	height: 0.825rem;
	text-align: center;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADsAAAAVBAMAAAAKrYvGAAAAKlBMVEUAAAD1piP1piP1piP1piP1piP1piP1piP1piP1piP1piP1piP1piP1piMRYQvzAAAADXRSTlMAVPngrIlbBuTbppQH1ItYEgAAAF1JREFUKM9jYGBglzK6iwNcAEpLAmnc0qx38UrH4pVmvItXugK/dC5+aV/80rb4pXXxS9+lQFoBv7QBfmkH/NIJeKVvHMArfZEBr3QAXunbDPikbwrgkb5kkg6UBQA3PAVOInlpygAAAABJRU5ErkJggg==) no-repeat;
	background-size: cover;
}


/*danbei end*/

.hengshun header {
	background: url(https://images-wap.newnewbank.com/wap-headBanner-hengshun-20180502.png) no-repeat;
	background-size: cover;
}

.hengshun .rec-rotate:before {
	background-color: #303b98;
}

.grade-img {
	width: 6.55rem;
	height: 8.25rem;
	background: url(https://images-wap.newnewbank.com/wap-grade20180503.png) no-repeat;
	background-size: cover;
}

.company-img {
	width: 12.625rem;
	height: 3.925rem;
	background: url(https://images-wap.newnewbank.com/wap-company20180503.png) no-repeat;
	background-size: cover;
}

.person-img {
	width: 8.45rem;
	height: 5.125rem;
	background: url(https://images-wap.newnewbank.com/wap-person20180503.png) no-repeat;
	background-size: cover;
}


/*hengshun end*/

.hengtong header {
	background: url(https://images-wap.newnewbank.com/wap-headBanner-hengtong-20180502.png) no-repeat;
	background-size: cover;
}

.hengtong .rec-rotate:before {
	background-color: #30695e;
}

.hengtong .productImg-1,
.hengtong .productImg-2,
.hengtong .productImg-3,
.hengtong .productImg-4,
.hengtong .productImg-5 {
	width: 3.65rem;
	height: 3.65rem;
	margin-right: 0.55rem;
}

.hengtong .productImg-1 {
	background: url(https://images-wap.newnewbank.com/wap-product1-20180504.png) no-repeat;
	background-size: cover;
}

.hengtong .productImg-2 {
	background: url(https://images-wap.newnewbank.com/wap-product2-20180504.png) no-repeat;
	background-size: cover;
}

.hengtong .productImg-3 {
	background: url(https://images-wap.newnewbank.com/wap-product3-20180504.png) no-repeat;
	background-size: cover;
}

.hengtong .productImg-4 {
	background: url(https://images-wap.newnewbank.com/wap-product4-20180504.png) no-repeat;
	background-size: cover;
}

.hengtong .productImg-5 {
	background: url(https://images-wap.newnewbank.com/wap-product5-20180504.png) no-repeat;
	background-size: cover;
}

.marLi li {
	margin-bottom: .5rem;
}

.hengtong .table-info table {
	border: 1px solid #baf5ea;
	text-align: center;
	width: 100%;
	border-radius: 0.25rem;
}

.hengtong .table-info table tr td {
	border-bottom: 1px solid #baf5ea;
	border-right: 1px solid #baf5ea;
	padding: 0.25rem 0;
}

.jingwanfen header {
	background: url(https://images-wap.newnewbank.com/wap-headBanner-jingwanfen-20180502.png) no-repeat;
	background-size: cover;
}

.team-img-1,
.team-img-2 {
	width: 6.2rem;
	height: 3.375rem;
}

.team-img-1 {
	background: url(https://images-wap.newnewbank.com/wap-team-01-20180504.png) no-repeat;
	background-size: cover;
}

.team-img-2 {
	background: url(https://images-wap.newnewbank.com/wap-team-02-20180504.png) no-repeat;
	background-size: cover;
	margin-left: 0.55rem;
}

.jingwanfen .person-staff {
	width: 13.5rem;
	height: 7.075rem;
	background: url(https://images-wap.newnewbank.com/wap-personStaff20180504.png) no-repeat;
	background-size: cover;
}


/*jinwanfen end*/

.jucheng header {
	background: url(https://images-wap.newnewbank.com/wap-headBanner-jucheng-20180502.png) no-repeat;
	background-size: cover;
}

.jucheng .rec-rotate:before {
	background-color: #da251d;
}

.jucheng .yellow-circle-bef:before {
	background-color: #fff;
	border: 1px solid #da251d;
}

.jucheng .dot-line {
	height: 25rem;
	border-right: 1px solid #da251d;
}

.getGrade-img {
	width: 6.375rem;
	height: 4.375rem;
}

.getGrade-img-1 {
	background: url(https://images-wap.newnewbank.com/wap_picture-jucheng01-20180507.png) no-repeat;
	background-size: cover;
}

.getGrade-img-2 {
	background: url(https://images-wap.newnewbank.com/wap_picture-jucheng02-20180507.png) no-repeat;
	background-size: cover;
}

.getGrade-img-3 {
	background: url(https://images-wap.newnewbank.com/wap_picture-jucheng03-20180507.png) no-repeat;
	background-size: cover;
}

.getGrade-img-4 {
	background: url(https://images-wap.newnewbank.com/wap_picture-jucheng04-20180507.png) no-repeat;
	background-size: cover;
}

.getGrade-img-5 {
	background: url(https://images-wap.newnewbank.com/wap_picture-jucheng05-20180507.png) no-repeat;
	background-size: cover;
}

.getGrade-img-6 {
	background: url(https://images-wap.newnewbank.com/wap_picture-jucheng06-20180507.png) no-repeat;
	background-size: cover;
}

.getGrade-img-7 {
	background: url(https://images-wap.newnewbank.com/wap_picture-jucheng07-20180507.png) no-repeat;
	background-size: cover;
}

.getGrade-img-8 {
	background: url(https://images-wap.newnewbank.com/wap_picture-jucheng08-20180507.png) no-repeat;
	background-size: cover;
}

.getGrade-img-9 {
	background: url(https://images-wap.newnewbank.com/wap_picture-jucheng09-20180507.png) no-repeat;
	background-size: cover;
}


/*jucheng end*/

.xinhua header {
	background: url(https://images-wap.newnewbank.com/wap-headBanner-szd-20180502.png) no-repeat;
	background-size: cover;
}

.xinhua .yellow-circle-bef:before {
	background-color: #e60012;
	border: 1px solid #e60012;
}

.xinhua .dot-line {
	height: 15rem;
	border-right: 1px solid #ddd;
}

.xinhua .person-staff {
	width: 12.925rem;
	height: 12.2rem;
	background: url(https://images-wap.newnewbank.com/wap_szd-person20180507.png) no-repeat;
	background-size: cover;
}

.ratio-img-1 {
	width: 6.75rem;
	height: 5.975rem;
	background: url(https://images-wap.newnewbank.com/wap-szd-ratio1-20180507.png) no-repeat;
	background-size: cover;
}

.ratio-img-2 {
	width: 6.675rem;
	height: 5.7rem;
	background: url(https://images-wap.newnewbank.com/wap-szd-ratio2-20180507.png) no-repeat;
	background-size: cover;
}

.gray-bg {
	background-color: #f6f6f6;
	border-radius: 0.25rem;
}

.gray-bar {
	width: 6.5rem;
	height: 0.6rem;
	line-height: 0.6rem;
	border-radius: 0.2rem;
	float: right;
	background-color: #e7e7e7;
}

.pink-progress {
	width: 100%;
	background-color: #f2bab8;
}

.bule-progress {
	width: 10%;
	background-color: #b3d0ec;
}

.yellow-progress {
	width: 20%;
	background-color: #efe481;
}

.green-progress {
	width: 14%;
	background-color: #65baa7;
}

.bule-progress,
.green-progress,
.pink-progress,
.yellow-progress {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	border-radius: 0.2rem;
}


/*xinhuazhizao end*/

.sszh header {
	background: url(https://images-wap.newnewbank.com/wap-headBanner-sszh-20180502.png) no-repeat;
	background-size: cover;
}

.sszh .person-staff {
	width: 14.4rem;
	height: 5.475rem;
	background: url(https://images-wap.newnewbank.com/wap-person-staff-sszh20180504.png) no-repeat;
	background-size: cover;
}


/*shengshizhonghuang end*/

.ttcz header {
	background: url(https://images-wap.newnewbank.com/wap-headBanner-ttcz-20180502.png) no-repeat;
	background-size: cover;
}

.blue-rec {
	background-color: rgba(11, 145, 248, .8);
	border-radius: 0.25rem;
}

.ttcz .border-blue {
	border: 1px solid #fdac1f;
}

.ttcz .border-radius {
	border-radius: 1.5rem;
	padding: 0.25rem 0.75rem;
	background-color: #fdac1f;
}

.ttcz .picture-person {
	width: 13.275rem;
	height: 7.575rem;
	background: url(https://images-wap.newnewbank.com/wap-person-ttcz-20180502.png) no-repeat;
	background-size: cover;
}

.ttcz .person-staff {
	width: 13.15rem;
	height: 7.55rem;
	background: url(https://images-wap.newnewbank.com/wap-person-staff-ttcz20180504.png) no-repeat;
	background-size: cover;
}

.ttcz .ratio-img {
	width: 2.975rem;
	height: 2.975rem;
	background: url(https://images-wap.newnewbank.com/wap-ratio-ttcz-20180508.png) no-repeat;
	background-size: cover;
	margin: 0 0.75rem 0 2rem;
}

.rec-bef:before {
	content: '';
	position: absolute;
	top: .2rem;
	left: 0;
	width: .4rem;
	height: .4rem;
}

.mobility .rec-bef:before {
	background-color: #f8c771;
}

.illiquidity .rec-bef:before {
	background-color: #5cc2fa;
}


/*tiantian end*/

.zdshengwu header {
	background: url(https://images-wap.newnewbank.com/wap-headBanner-zdsw-20180502.png) no-repeat;
	background-size: cover;
}

.zdshengwu .yellow-circle-bef:before {
	background-color: #13acd2;
	width: 0.5rem;
	height: 0.5rem;
	border: .2rem solid #fff;
	left: -.9rem;
	top: -.1rem;
}

.zdshengwu .yellow-circle-bef:after {
	content: '';
	width: 0.4rem;
	height: 0.125rem;
	background-color: #ddd;
	position: absolute;
	top: .3rem;
	left: -1.2rem;
	border-radius: 0.25rem;
}

.zdshengwu .dot-line {
	height: 17rem;
	border-right: 0.25rem solid #ddd;
}

[arrow="down"] {
	width: 0;
	height: 0;
	border-top: 1rem solid #ddd;
	border-right: .4rem solid transparent;
	border-bottom: 1rem solid transparent;
	border-left: .4rem solid transparent;
	position: absolute;
	bottom: -2rem;
	left: 1.1rem;
}

.zdshengwu .person-staff {
	width: 14.175rem;
	height: 7.6rem;
	background: url(https://images-wap.newnewbank.com/wap-person-staff-zdsw20180504.png) no-repeat;
	background-size: cover;
}

.zdshengwu .table-info table {
	border: 1px dashed #13acd2;
}

.zdshengwu .table-info table tr td {
	border-bottom: 1px dashed #13acd2;
	border-right: 1px dashed #13acd2;
	padding: 0.25rem 0;
}


/*zhongdeshengwu end*/

.ziranhome header {
	background: url(https://images-wap.newnewbank.com/wap-headBanner-ziranxing-20180502.png) no-repeat;
	background-size: cover;
}

.ziranhome .border-blue {
	width: 4rem;
	height: 1.05rem;
	border: 1px solid #0fa51e;
	background-color: #0fa51e;
	border-radius: 0.525rem;
}

.picture-person-look {
	width: 14.5rem;
	height: 4.175rem;
	background: url(https://images-wap.newnewbank.com/wap-insert20180508.png) no-repeat;
	background-size: cover;
}

.process-staff {
	width: 14.225rem;
	height: 7.7rem;
	background: url(https://images-wap.newnewbank.com/wap-process20180508.png) no-repeat;
	background-size: cover;
}

.no-border-table {
	border: none;
}

.no-border-table tr td {
	border: none;
	padding: 0.3rem 0;
}

.no-border-table tr td:first-child {
	color: #333;
}

.no-border-table tr td:last-child {
	color: #666;
}

.text-bold-img {
	width: 6.65rem;
	height: 3.025rem;
	background: url(https://images-wap.newnewbank.com/wap-text20180508.png) no-repeat;
	background-size: cover;
}

.ziranhome .yellow-circle-bef:before {
	background-color: #fff;
	border: 0.1rem solid #0fa51e;
}

.ziranhome .dot-line {
	height: 15rem;
	border-right: 1px dashed #ddd;
	left: 1.5rem;
}

.review-img-1 {
	width: 12.725rem;
	height: 4.05rem;
	background: url(https://images-wap.newnewbank.com/wap-picture-01-20180508.png) no-repeat;
	background-size: cover;
}

.review-img-2 {
	width: 12.725rem;
	height: 4.1rem;
	background: url(https://images-wap.newnewbank.com/wap-picture-02-20180508.png) no-repeat;
	background-size: cover;
}


/*rizanhome end*/

.sszh table,
.ttcz table,
.warm table,
.bangde table,
.jingwanfen table,
.jucheng table,
.xinhua table {
	border: 1px dashed #e4e4e4;
}

.sszh table tr td,
.ttcz table tr td,
.warm table tr td,
.bangde table tr td,
.jingwanfen table tr td,
.jucheng table tr td,
.xinhua table tr td {
	border-bottom: 1px dashed #e4e4e4;
	border-right: 1px dashed #e4e4e4;
}