* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei", "Lucida Sans Unicode", "Myriad Pro", "Hiragino Sans GB", "Heiti SC";
}

html * {
	outline: none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/*-webkit-tap-highlight-color: transparent;*/
}

ul,
ol,
li {
	list-style: none;
}

i {
	font-style: normal;
	display: inline-block;
}

a {
	text-decoration: none;
	display: inline-block;
}

span {
	display: inline-block;
}


/*字体大小 start*/

.arial {
	font-family: arial;
}

.font_12 {
	font-size: 12px;
}

.font_13 {
	font-size: 13px;
}

.font_14 {
	font-size: 14px;
}

.font_15 {
	font-size: 15px;
}

.font_16 {
	font-size: 16px;
}

.font_18 {
	font-size: 18px;
}

.font_20 {
	font-size: 20px;
}

.font_22 {
	font-size: 22px;
}

.font_24 {
	font-size: 24px;
}

.font_26 {
	font-size: 26px;
}

.font_28 {
	font-size: 28px;
}

.font_30 {
	font-size: 30px;
}

.font_32 {
	font-size: 32px;
}

.font_36 {
	font-size: 36px;
}

.font_40 {
	font-size: 40px;
}

.font_42 {
	font-size: 42px;
}

.font_48 {
	font-size: 48px;
}

.font_50 {
	font-size: 50px;
}

.font_70 {
	font-size: 70px;
}


/*字体大小 end*/


/*字体颜色 start*/

.color_000 {
	color: #000
}

.color_fff {
	color: #fff
}

.color_333 {
	color: #333
}

.color_666 {
	color: #666;
}

.color_999 {
	color: #999;
}

.color_a9a9a9 {
	color: #a9a9a9;
}

.color_f44975 {
	color: #f44975;
}

.color_1c7ebe {
	color: #1c7ebe;
}

.color_fbb03b {
	color: #fbb03b;
}


/*字体颜色 end*/


/*背景颜色 start*/

.bgColor_fff {
	background-color: #fff;
}

.bgColor_f44975 {
	background-color: #f44975;
}

.bgColor_fbb03b {
	background-color: #fbb03b;
}

.bgColor_7fcbe5 {
	background-color: #7fcbe5;
}


/*背景颜色 end*/

.relative {
	position: relative;
}

.w_1200 {
	width: 1200px;
}

.margin_center {
	margin: 0 auto;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.pointer {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

.overflow {
	overflow: hidden;
}

.inline_block {
	display: inline-block;
}

._block {
	display: block;
}

.none {
	display: none;
}

.text_center {
	text-align: center;
}

.text_left {
	text-align: left;
}

.text_right {
	text-align: right;
}

.line_height {
	line-height: 25px;
}

.letter_space {
	letter-spacing: 1px;
}

.under_line {
	height: 1px;
	background-color: #eee;
}

.dotted_line {
	border: 1px dotted #eee;
}

.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}

.clearfloat {
	zoom: 1
}

.clear {
	clear: both;
}

.rootNode {
	width: 100%;
	margin: 0 auto;
	max-width: 1920px;
}

.onePage {
	width: 100%;
	min-width: 1200px;
	height: 522px;
	background: url(https://images-web.newnewbank.com/loading.gif) no-repeat center;
}

.onePage .main {
	height: 100%;
	background: url(https://images-web.newnewbank.com/img-page1-20180102.png) center top;
}

.headImg {
	width: 780px;
	height: 376px;
	margin: 100px auto 0;
	background: url(https://images-web.newnewbank.com/head20170102.png) no-repeat center top;
}

.twoPage {
	width: 100%;
	min-width: 1200px;
	height: 439px;
	background: url(https://images-web.newnewbank.com/loading.gif) no-repeat center;
}

.twoPage .main {
	height: 100%;
	background: url(https://images-web.newnewbank.com/img-page2-20180102.png) center top;
}

.threePage {
	width: 100%;
	min-width: 1200px;
	height: 999px;
	background: url(https://images-web.newnewbank.com/loading.gif) no-repeat center;
}

.threePage .main {
	height: 100%;
	background: url(https://images-web.newnewbank.com/img-page3-20180102.png) center top;
}

.fourPage {
	width: 100%;
	min-width: 1200px;
	height: 195px;
	background: url(https://images-web.newnewbank.com/loading.gif) no-repeat center;
}

.fourPage .main {
	height: 100%;
	background: url(https://images-web.newnewbank.com/img-page4-20180102.png) center top;
}

.ruleBox {
	width: 1025px;
	height: 328px;
	background: url(https://images-web.newnewbank.com/ruletext20180102.png) no-repeat;
}

.leftBox {
	width: 460px;
	margin-top: 50px;
	margin-left: 45px;
}

.rightBox {
	width: 460px;
	line-height: 30px;
	margin-top: 50px;
	padding-top: 30px;
	margin-left: 35px;
}

.paddint-top-35 {
	padding-top: 35px;
}

.color_ffc115 {
	color: #ffc115;
}

.w-180 {
	width: 180px;
	margin-right: 20px;
}

.goInvest,
.getRecord {
	width: 220px;
	height: 64px;
	border-radius: 30px;
	line-height: 64px;
	color: #ba3414;
}

.goInvest {
	background: #ffc115;
	box-shadow: 0px 8px 0px #dd6d00;
	margin-right: 60px;
}

.getRecord {
	background: #f4f4f4;
	box-shadow: 0px 8px 0px #a6a6a6;
}

.text-impact {
	font-family: impact;
}

.font_80 {
	font-size: 80px;
}

.ulBox {
	display: inline-block;
	margin-top: 50px;
}
.ulBox:first-child{
	margin-top: 0;
}
.ulBox li {
	float: left;
	width: 286px;
	height: 280px;
	background: url(https://images-web.newnewbank.com/redpacke20180102.png) no-repeat center top;
	margin-right: 36px;
}
.ulBox li div p:last-child{
	line-height: 80px;
}
.getRed {
	width: 166px;
	height: 46px;
	line-height: 46px;
	border-radius: 23px;
	color: #ffc115;
	border: 1px solid #ffc115;
	margin-top: 70px;
}

.getRed:hover {
	border: 1px solid #f4f4f4;
	color: #e2314b;
	background-color: #f4f4f4;
}

.cover {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	opacity: .8;
	filter:alpha(opacity=80);
}

.popupLoad {
	width: 947px;
	height: 493px;
	background: url(https://images-web.newnewbank.com/loading-f.gif) no-repeat center;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -473px;
	margin-top: -250px;
}

.popopImg {
	width: 100%;
	height: 100%;
	background: url(https://images-web.newnewbank.com/textImg20170102.png) no-repeat;
}

.table {
	width: 80%;
	margin: 80px auto 0;
	line-height: 40px;
}

.page-num {
	position: absolute;
	width: 100%;
	bottom: 60px;
	left: 0;
}

.page-num a {
	width: 80px;
	height: 36px;
	line-height: 36px;
	border-radius: 5px;
	border: 1px solid #f44975;
	color: #f44975;
	cursor: pointer;
	margin-right: 20px;
}

.page-num a.not-pointer {
	border: 1px solid #666;
	color: #666;
	cursor: not-allowed;
}